<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EcoleIndirecte</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="https://www.ecoledirecte.com/favicon.ico">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <div class="row navbar border-bottom bg-primary">
            <div class="col d-flex align-items-left ">
            {% if app.user is not null %}
                <p class="mr-2">{{ app.user.getEmail }}</p> 
                <a class="btn btn-danger" href="{{ path('app_logout') }}">Déconnexion</a> 
            {% endif %}
            </div>
            <div class="col container d-flex justify-content-center align-items-center">
                <h2> EcoleIndirecte
            </div>
            <div class="col">

            </div>
        </div>

        {% endblock %}


                
        {% block body %}{% endblock %}
    </body>
</html>
